#app4{}

@keyframes change {
    0% {
        background: red;
    }

    100% { 
        background: black;
    }
}
#app4 .circle{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    border: 1px solid grey;
}

#app4 .circle.active{
    animation: change 2s infinite alternate linear;
}